/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
:root {
  --main-transition: .3s;
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --green-color: #22c55e;
  --orange-color: #f59e0b;
  --tomato-color: #f44336;
  --span-color: #777;
  --main-padding: 20px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f1f5f9;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* End Global Rules */

/* Start Components */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #0d69d5;
}
::selection {
  background-color: #0077ff28;
}
.section-title {
  margin-bottom: 25px;
}
/* End Components */

/* Start Layout */
.page {
  background-color: #f1f5f9;
  display: flex;
}
/* End Layout */

/* Start Sidebar */
.page .sidebar {
  position: relative;
  background-color: white;
  padding: 0 20px;
  box-shadow: 0 0 10px #ddd;
  z-index: 2;
}
.page .sidebar h1 {
  text-align: center;
  font-size: 22px;
  margin: 25px 0 50px;
  position: relative;
}
@media (min-width: 768px) {
  .page .sidebar h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 1.5px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    background-color: black;
  }
  .page .sidebar h1::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    border: 5px solid white;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.page .sidebar ul li a {
  padding: 12px 50px 12px 10px;
  margin-bottom: 5px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  color: black;
  font-weight: 500;
  font-size: 14px;
  transition: var(--main-transition);
}
.page .sidebar ul li a:hover,
.page .sidebar ul li a.active {
  background-color: #f6f6f6;
}
.page .sidebar ul li a i {
  margin-right: 10px;
}
@media (max-width: 767px) {
  .page .sidebar {
    padding: 0;
    min-width: 50px;
  }
  .page .sidebar h1 {
    font-size: 13px;
    margin: 10px 0;
  }
  .page .sidebar ul li a span {
    display: none;
  }
  .page .sidebar ul li a {
    justify-content: center;
    padding: 0;
    height: 40px;
    width: 40px;
    margin: 0 auto;
  }
  .page .sidebar ul li a i {
    margin: 0;
    font-size: 14px;
  }
}
/* End Sidebar */

/* Start Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0 20px;
  height: 75px;
}
.header .search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
}
.header .search-box i {
  margin-right: 5px;
  color: #767575;
}
.header .search-box input {
  border: none;
  width: 110px;
  transition: var(--main-transition);
}
.header .search-box input:focus {
  width: 125px;
  outline: none;
}
.header .search-box input:focus::placeholder {
  opacity: 0;
}
.header .info {
  display: flex;
  align-items: center;
}
.header .info span {
  position: relative;
}
.header .info span::before {
  content: '';
  position: absolute;
  right: -5px;
  top: -6px;
  width: 10px;
  height: 10px;
  background-color: var(--tomato-color);
  border-radius: 50%;
}
.header .info img {
  width: 30px;
  height: 30px;
  margin-left: 15px;
}
/* End Header */

/* Start Main Title */
.main-title {
  font-size: 30px;
  font-weight: 700;
  position: relative;
  margin: 25px 0px 35px 20px;
}
.main-title::before,
.main-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 3px;
}
.main-title::before {
  width: 125px;
  background-color: white;
}
.main-title::after {
  width: 40px;
  background-color: black;
}
/* End Main Title */

/* Start Dashboard */
.dashboard .content {
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 20px;
  margin: 0 20px;
}
.dashboard .content .box {
  background-color: white;
  border-radius: 10px;
  padding-bottom: 20px;
}
.dashboard .content .box:not(:first-child) {
  padding: 20px;
}
.dashboard .content .box-1 {
  display: flex;
  flex-direction: column;
}
.dashboard .content .box-1 .intro {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 10px;
  position: relative;
  background-color: #eee;
  border-radius: 10px 10px 0 0;
  margin-bottom: 50px;
}
.dashboard .content .box-1 .intro img:first-child {
  width: 65px;
  position: absolute;
  border: 5px solid white;
  border-radius: 50%;
  bottom: 0;
  transform: translateY(50%);
}
.dashboard .content .box-1 .intro .welcome {
  width: 200px;
  bottom: 0;
}
@media (max-width: 767px) {
  .dashboard .content {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)) !important;
    grid-gap: 10px;
    margin: 0 10px;
  }
  .main-title {
    margin: 25px 0 35px 10px;
  }
  .dashboard .content .box-1 .intro .welcome {
    display: none;
  }
  .header .content .box-1 .intro {
    padding: 20px 20px 50px;
  }
  .dashboard .content .box-1 .intro img:first-child {
    width: 60px;
    height: 60px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  .dashboard .content .box-1 .info {
    flex-direction: column;
  }
  .dashboard .content .box-1 .info .text {
    margin-bottom: 25px;
  }
}
@media (max-width: 480px) {
  .dashboard .content {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;
  }
}
.special-span {
  display: block;
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  color: var(--span-color);
}
.dashboard .content .box-1 .info {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding: 25px;
  text-align: center;
}
.dashboard .content .box-1 .info .text h3 {
  font-weight: 500;
  font-size: 16px;
}
.dashboard .content .box-1 .link {
  display: flex;
  justify-content: flex-end;
  padding: var(--main-padding);
}
.dashboard .content .box-1 .link a,
.dashboard .content .box-2 .link a {
  display: block;
  width: fit-content;
  background-color: var(--blue-color);
  transition: var(--main-transition);
  padding: 5px 10px;
  border-radius: 6px;
  color: white;
  font-weight: 500;
  font-size: 15px;
}
.dashboard .content .box-1 .link a:hover,
.dashboard .content .box-2 .link a:hover {
  background-color: #0d69d5;
}
.dashboard .content .box-2 .fields {
  display: flex;
  flex-direction: column;
}
.dashboard .content .box-2 .link {
  display: flex;
  justify-content: flex-end;
}
.dashboard .content .box-2 .link a {
  margin-top: 25px;
}
.dashboard .content .box-2 .fields input:first-child,
.dashboard .content .box-2 .fields textarea {
  background-color: #eee;
  border: none;
  padding: 10px;
  margin-top: 20px;
  border-radius: 7px;
  resize: none;
  font-size: 12px;
}
.dashboard .content .box-2 .fields input:first-child:focus,
.dashboard .content .box-2 .fields textarea:focus {
  outline: none;
}
.dashboard .content .box-2 .fields textarea {
  height: 175px;
}
.dashboard .content .box-3 .intro {
  margin-bottom: 25px;
}
.dashboard .content .box-3 .info .pro {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.dashboard .content .box-3 .info .pro i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  margin-right: 15px;
}
.dashboard .content .box-3 .info .info1 i {
  background-color: rgb(0 117 255 / 20%);
  color: var(--blue-color);
}
.dashboard .content .box-3 .info .info2 i {
  background-color: rgb(245 158 11 / 20%);
  color: var(--orange-color);
}
.dashboard .content .box-3 .info .info3 i {
  background-color: rgb(34 197 94 / 20%);
  color: var(--green-color);
}
.dashboard .content .box-3 .info .pro .progress {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.dashboard .content .box-3 .pro .progress span:first-child {
  margin-bottom: 10px;
  color: #888;
  font-size: 14px;
  font-weight: 500;
}
.dashboard .content .box-3 .pro .progress span:nth-child(2) {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}
.dashboard .content .box-3 .pro .progress div {
  width: 100%;
  height: 4px;
  position: relative;
  background-color: black;
}
.dashboard .content .box-3 .pro .progress div span {
  position: absolute;
  height: 4px;
}
.dashboard .content .box-3 .info1 .progress div {
  background-color: rgb(0 117 255 / 20%);
}
.dashboard .content .box-3 .info1 .progress div span::before,
.dashboard .content .box-13 table tbody tr:nth-child(2) td a,
.dashboard .content .box-3 .info1 .progress div span {
  background-color: var(--blue-color);
}
.dashboard .content .box-3 .info2 .progress div {
  background-color: rgb(245 158 11 / 20%);
}
.dashboard .content .box-3 .info2 .progress div span::before,
.dashboard .content .box-13 table tbody tr:nth-child(1) td a,
.dashboard .content .box-3 .info2 .progress div span {
  background-color: var(--orange-color);
}
.dashboard .content .box-3 .info3 .progress div {
  background-color: rgb(34 197 94 / 20%);
}
.dashboard .content .box-3 .info3 .progress div span::before,
.dashboard .content .box-13 table tbody tr:nth-child(3) td a,
.dashboard .content .box-13 table tbody tr:nth-child(4) td a,
.dashboard .content .box-13 table tbody tr:nth-child(6) td a,
.dashboard .content .box-3 .info3 .progress div span {
  background-color: var(--green-color);
}
.dashboard .content .box-3 .info1 .progress div span::before,
.dashboard .content .box-3 .info2 .progress div span::before,
.dashboard .content .box-3 .info3 .progress div span::before {
  content: attr(DataProgress);
  padding: 3px 5px;
  font-size: 12px;
  color: white;
  border-radius: 7px;
  position: absolute;
  left: 100%;
  transform: translate(-50%, -150%);
}
.dashboard .content .box-3 .info1 .progress div span::after,
.dashboard .content .box-3 .info2 .progress div span::after,
.dashboard .content .box-3 .info3 .progress div span::after {
  content: '';
  position: absolute;
  left: 100%;
  transform: translate(-50%, -90%);
  border: 5px solid;
}
.dashboard .content .box-3 .info1 .progress div span::after {
  border-color: var(--blue-color) transparent transparent transparent;
}
.dashboard .content .box-3 .info2 .progress div span::after {
  border-color: var(--orange-color) transparent transparent transparent;
}
.dashboard .content .box-3 .info3 .progress div span::after {
  border-color: var(--green-color) transparent transparent transparent;
}
.dashboard .content .box-4 .the-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  margin-top: 25px;
}
@media (max-width: 1200px) {
  .dashboard .content .box-4 .the-content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .dashboard .content .box-4 .the-content {
    grid-template-columns: 1fr;
  }
}.dashboard .content .box-4 .the-content .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}
.dashboard .content .box-4 .the-content .box i {
  margin: 10px 0;
  font-size: 26px;
}
.dashboard .content .box-4 .the-content .box h3 {
  font-size: 24px;
}
.dashboard .content .box-4 .the-content .total i {
  color: var(--orange-color);
}
.dashboard .content .box-4 .the-content .pending i {
  color: var(--blue-color);
}
.dashboard .content .box-4 .the-content .closed i {
  color: var(--green-color);
}
.dashboard .content .box-4 .the-content .deleted i {
  color: var(--tomato-color);
}
.dashboard .content .box-5 h2 {
  margin: 0;
}.dashboard .content .box-5 .info {
  display: flex;
  align-items: center;
  padding: 30px 0 30px 0;
}
.dashboard .content .box-5 .info:not(:last-child) {
  border-bottom: 1px solid #e6e5e5;
}
.dashboard .content .box-5 .info img {
  width: 100px;
  border-radius: 7px;
  margin-right: 10px;
}
.dashboard .content .box-5 .info .text {
  flex: 1;
}
.dashboard .content .box-5 .info .text span {
  display: block;
  color: var(--span-color);
  font-size: 14px;
  margin-top: 5px;
}
.dashboard .content .box-5 .info > span {
  display: block;
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 13px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .dashboard .content .box-5 .info {
    flex-direction: column;
  }
  .dashboard .content .box-5 .info .text {
    margin: 15px 0;
    text-align: center;
  }
}
.dashboard .content .box-6 {
  display: flex;
  flex-direction: column;
}
.dashboard .content .box-6 h2 {
  margin: 0 0 25px 0;
}
.dashboard .content .box-6 .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  flex: 1;
}
.dashboard .content .box-6 .line-through {
  opacity: 0.3;
}
.dashboard .content .box-6 .line-through .text h4,
.dashboard .content .box-6 .line-through .text span {
  text-decoration: line-through;
} 
.dashboard .content .box-6 .info i {
  margin-left: 10px;
  transition: var(--main-transition);
  cursor: pointer;
}
.dashboard .content .box-6 .info i:hover {
  color: var(--tomato-color);
}
.dashboard .content .box-6 .info:not(:last-child) {
  border-bottom: 1px solid #e6e5e5;
}
.dashboard .content .box-6 .info .text span {
  color: var(--span-color);
  margin-top: 5px;
  display: block;
  line-height: 1.5;
  font-size: 15px;
}
.dashboard .content .box-7 .intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.dashboard .content .box-7 .intro span {
  color: var(--span-color);
  font-weight: 500;
}
.dashboard .content .box-7 .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  font-weight: 500;
}
.dashboard .content .box-7 .info a {
  color: black;
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 15px;
  transition: var(--main-transition);
}
.dashboard .content .box-7 .info a:hover {
  background-color: #ddd;
}
.dashboard .content .box-8 {
  display: flex;
  flex-direction: column;
}
.dashboard .content .box-8 .bag {
  display: flex;
  align-items: center;
  flex: 1;
}
.dashboard .content .box-8 .bag:not(:last-child) {
  border-bottom: 1px solid #e6e5e5;
}
.dashboard .content .box-8 .bag img {
  width: 40px;
  margin-right: 10px;
}
.dashboard .content .box-8 .bag .text {
  flex: 1;
}
.dashboard .content .box-8 .bag .text span {
  display: block;
  margin-top: 5px;
  color: var(--span-color);
}
.dashboard .content .box-8 .bag a {
  color: black;
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 15px;
  transition: var(--main-transition);
}
.dashboard .content .box-8 .bag a:hover {
  background-color: #ddd;
}
@media (max-width: 1200px) {
  .dashboard .content .box-8 .bag {
    padding-bottom: 15px;
    margin-bottom: 10px;
  }
  .dashboard .content .box-8 .bag .text p {
    line-height: 1.5;
  }
}
.dashboard .content .box-9 {
  position: relative;
}
.dashboard .content .box-9 .text::before {
  content: '';
  width: 2px;
  height: 60%;
  position: absolute;
  top: 24%;
  left: 29px;
  background-color: var(--blue-color);
  z-index: 2;
}
@media (min-width: 1199px) {
  .dashboard .content .box-9 .text::before {
    top: 22%;
    height: 50%;
  }
}
.dashboard .content .box-9 .text div {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.dashboard .content .box-9 .text div p {
  flex: 1;
  line-height: 1.4;
  font-weight: 500;
}
.dashboard .content .box-9 .text div span {
  margin-right: 25px;
  width: 20px;
  height: 20px;
  background-color: var(--blue-color);
  border-radius: 50%;
  outline: 2px solid var(--blue-color);
  border: 2px solid white;
  position: relative;
  z-index: 2;
}
.dashboard .content .box-9 .text div:last-child span {
  background-color: white;
}
.dashboard .content .box-9 .text div:nth-child(4) span {
  animation: faded 1.5s linear infinite;
}
@keyframes faded {
  0%,75%, 100% {
    background-color: white;
  }
  50% {
    background-color: var(--blue-color);
  }
}
.dashboard .content .box-10 {
  display: flex;
  flex-direction: column;
}
.dashboard .content .box-10 .info {
  flex: 1;
}
.dashboard .content .box-10 .info .text {
  margin: 25px 0 25px 40px;
  padding: 0 0 0 15px;
  position: relative;
}
.dashboard .content .box-10 .info .text:first-child {
  border-left: 2px solid var(--blue-color);
}
.dashboard .content .box-10 .info .text:nth-child(2) {
  border-left: 2px solid var(--green-color);
}
.dashboard .content .box-10 .info .text:nth-child(3) {
  border-left: 2px solid var(--orange-color);
}
.dashboard .content .box-10 .info .text:last-child {
  border-left: 2px solid var(--tomato-color);
}
.dashboard .content .box-10 .info .text::before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.dashboard .content .box-10 .info .text:first-child:before {
  background-color: var(--blue-color);
}
.dashboard .content .box-10 .info .text:nth-child(2):before {
  background-color: var(--green-color);
}
.dashboard .content .box-10 .info .text:nth-child(3):before {
  background-color: var(--orange-color);
}
.dashboard .content .box-10 .info .text:last-child:before {
  background-color: var(--tomato-color);
}
.dashboard .content .box-10 .info .text p {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.3;
}
.dashboard .content .box-11 .info {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.dashboard .content .box-11 .last {
  display: flex;
  justify-content: space-between;
}
 .dashboard .content .box-11 .last div * {
  color: var(--span-color);
  transition: var(--main-transition);
  cursor: pointer;
}
 .dashboard .content .box-11 .last .first:hover * {
  color: var(--tomato-color);
}
 .dashboard .content .box-11 .last .second:hover * {
  color: var(--blue-color);
}
.dashboard .content .box-11 .info .text h3{
  font-weight: 600;
}
.dashboard .content .box-11 .info img {
  width: 50px;
  margin-right: 10px;
}
.dashboard .content .box-11 p {
  margin: 25px 0 25px 0;
  padding: 25px 0 60px;
  font-weight: 500;
  font-size: 16px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  line-height: 1.6;
}
@media (max-width: 767px) {
  .dashboard .content .box-11 p {
    text-align: center;
    padding: 15px 0 30px;
  }
}
.dashboard .content .box-12 .info .block {
  display: flex;
  margin-top: 25px;
}
.dashboard .content .box-12 .info .block .text {
  height: 50px;
  background-color: red;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.dashboard .content .box-12 .info .block i {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: var(--main-transition);
}
.dashboard .content .box-12 .info .block i:hover {
  transform: rotate(5deg);
}
.dashboard .content .box-12 .info .block .text a {
  display: block;
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 8px;
}
.dashboard .content .box-12 .info .block:first-child .text {
  background-color: rgb(29 161 242 / 20%);
  color: #1da1f2;
}
.dashboard .content .box-12 .info .block:first-child .text a,
.dashboard .content .box-12 .info .block:first-child i {
  background-color: #1da1f2;
}
.dashboard .content .box-12 .info .block:nth-child(2) .text {
  background-color: rgb(24 119 242 / 20%);
  color: #1877f2;
}
.dashboard .content .box-12 .info .block:nth-child(2) .text a,
.dashboard .content .box-12 .block:nth-child(2) i {
  background-color: #1877f2;
}
.dashboard .content .box-12 .info .block:nth-child(3) .text {
  background-color: rgb(255 0 0 / 20%);
  color: #ff0000;
}
.dashboard .content .box-12 .info .block:nth-child(3) .text a,
.dashboard .content .box-12 .info .block:nth-child(3) i {
  background-color: #ff0000;
}
.dashboard .content .box-12 .info .block:last-child .text {
  background-color: rgb(0 119 181 / 20%);
  color: #0077b5;
}
.dashboard .content .box-12 .info .block:last-child .text a,
.dashboard .content .box-12 .info .block:last-child i {
  background-color: #0077b5;
}
.dashboard .content .box-13 {
  overflow: auto;
}
@media (min-width: 1200px) {
  .dashboard .content .box-13 {
    grid-column: span 2;
  }
}
.dashboard .content .box-13 > div {
  overflow: auto;
}
.dashboard .content .box-13 table {
  width: 100%;
  border-spacing: 0px;
}
.dashboard .content .box-13 table td {
  padding: 15px;
}
.dashboard .content .box-13 table thead {
  font-weight: bold;
  background-color: #eee;
}
.dashboard .content .box-13 table tbody td {
  border: 1px solid #f0eeee;
  min-width: 200px;
  font-weight: 500;
}
.dashboard .content .box-13 table tbody tr {
  transition: var(--main-transition);
}
.dashboard .content .box-13 table tbody tr:hover {
  background-color: #f5f4f4c8;
}
.dashboard .content .box-13 table tbody tr td .contain-images {
  padding-left: 20px;
}
.dashboard .content .box-13 table tbody tr td img {
  margin-left: -20px;
}
.dashboard .content .box-13 table tbody tr td img {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
.dashboard .content .box-13 table tbody tr td img:hover {
  z-index: 2;
}
.dashboard .content .box-13 table tbody tr td a {
  color: white;
  padding: 3px 10px;
  border-radius: 6px;
  font-size: 13px;
}
.dashboard .content .box-13 table tbody tr:nth-child(5) td a {
  background-color: var(--tomato-color);
}
/* End Dashboard */

/* Start Settings */
.settings {
  flex: 1;
}
.settings .content {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 20px;
  margin: 0 20px;
}
@media( max-width: 767px) {
  .settings .content {
    grid-template-columns: minmax(200px, 1fr);
    grid-gap: 10px;
    margin: 0 10px;
    padding: 10px 0;
  }
}
.settings .box {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}
.settings .box-1 .info {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings .box-1 .info p {
  margin-bottom: 5px;
  font-weight: 500;
}
.settings .box-1 .info span {
  color: var(--span-color);
  font-size: 13px;
}
/* General Component */
label .toggle-checkbox {
  appearance: none;
  -webkit-appearance: none;
  display: none;
}
label .toggle-switch {
  width: 78px;
  height: 32px;
  background-color: #ccc;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
}
label .toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: 0.3s;
}
label .toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
label .toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  left: 50px;
  color: var(--blue-color);
}
/* General Component */
.settings .content h2.section-title {
  margin-bottom: 10px;
}
.settings .content span.section-span {
  color: var(--span-color);
  margin-bottom: 20px;
  display: block;
}
.settings .box-1 textarea {
  min-height: 170px;
  resize: none;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 13px;
}
.settings .box-1 textarea:focus {
  outline: none;
}
.settings .box-2 form label {
  display: block;
  margin: 10px 0;
  color: var(--span-color);
}
.settings .box-2 form input:not(input[type="reset"]){
  width: 100%;
  padding: 10px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.settings .box-2 form > input:focus {
  outline: none;
}
.settings .box-2 form > div {
  display: flex;
}
.settings .box-2 form > div input[type=reset] {
  background-color: white;
  border: none;
  cursor: pointer;
  color: var(--blue-color);
  font-weight: 500;
  margin-left: 15px;
}
.settings .box-2 form > div input[type=email] {
  cursor: no-drop;
}
.settings .box-3 .info > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.settings .box-3 .info > div:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.settings .box-3 .info > div .text p {
  margin-bottom: 5px;
  font-weight: 500;
}
.settings .box-3 .info > div .text span {
  color: var(--span-color);
  font-size: 13px;
  font-weight: 500;
}
.settings .box-3 .info .info1 button {
  border: none;
  background-color: var(--blue-color);
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.settings .box-3 .info .info1 button:hover {
  background-color: var(--blue-alt-color);
}
.settings .box-3 .info .info3 a {
  color: black;
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 6px;
  font-weight: 500;
  transition: 0.3s;
}
.settings .box-3 .info .info3 a:hover {
  background-color: #ccc;
}
.settings .box-4 .field {
  display: flex;
  border-radius: 6px;
  border: 1px solid #ccc;
  align-items: center;
  background-color: #f6f6f6;
  flex-direction: row-reverse;
}
.settings .box-4 .field:not(:last-child) {
  margin-bottom: 20px;
}
.settings .box-4 .field input {
  flex: 1;
  padding: 10px;
  border: none;
  font-size: 13px;
  height: 100%;
  border-left: 1px solid #ccc;
  background-color: transparent;
}
.settings .box-4 .field input:focus {
  outline: none;
}
.settings .box-4 .field input:focus ~ i{
  color: black;
}
.settings .box-4 .field i {
  width: 35px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  color: #aaa;
  transition: 0.3s;
}
.settings .box-5 .control {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.settings .box-5 .control input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.settings .box-5 .control label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.settings .box-5 .control label::before,
.settings .box-5 .control label::after {
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
  border-radius: 4px;
}
.settings .box-5 .control label::before {
  content: '';
  width: 14px;
  height: 14px;
  border: 2px solid var(--span-color);
}
.settings .box-5 .control label:hover::before{
  border-color: var(--blue-alt-color);
}
.settings .box-5 .control label::after {
  font-family: 'Font Awesome 5 Free';
  content: '\f00c';
  background-color: var(--blue-color);
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0) rotate(360deg);
  transition: 0.3s;
}
.settings .box-5 .control input[type="checkbox"]:checked + label::after {
  transform: scale(1);
}
.settings .box-6 .date {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.settings .box-6 input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}
.settings .box-6 .date label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.settings .box-6 .date label::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid var(--span-color);
}
.settings .box-6 .date label::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -6px;
  width: 12px;
  height: 12px;
  background-color: var(--blue-color);
  border-radius: 50%;
  transition: 0.3s;
  transform: scale(0);
}
.settings .box-6 .date input[type="radio"]:checked + label::before {
  border-color: var(--blue-color);
}
.settings .box-6 .date input[type="radio"]:checked + label::after {
  transform: scale(1);
}
.settings .box-6 .servers {
  display: flex;
  align-items: center;
  text-align: center;
  border-top: 1px solid #eee;
  padding-top: 20px;
}
@media (max-width: 767px) {
  .settings .box-6 .servers {
    flex-wrap: wrap;
  }
  .settings .box-6 .servers .server {
    margin-bottom: 10px !important;
  }
}
.settings .box-6 .servers .server {
  margin-bottom: 15px;
  border-radius: 10px;
  width: 100%;
  border: 2px solid #eee;
  position: relative;
  margin: 0 5px;
}
.settings .box-6 .servers .server label {
  display: block;
  margin: 15px;
  cursor: pointer;
}
.settings .box-6 .servers input[type="radio"]:checked + .server {
  border-color: var(--blue-color);
  color: var(--blue-color);
}
.settings .box-6 .servers .server label i {
  display: block;
  margin-bottom: 15px;
}
/* End Settings */

/* Start Profile */
.profile {
  flex: 1;
}
.profile .box {
  padding: 20px;
  background-color: white;
  border-radius: 6px;
}
.profile .content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  padding: 20px 0;
  margin: 0 20px;
}
@media (max-width: 767px) {
  .profile .content {
    grid-template-columns: 1fr !important;
    grid-gap: 10px;
    padding: 10px 0;
    margin: 0 10px;
  }
}
@media (min-width: 768px) {
  .profile .box-1 {
    grid-column: span 2;
  }
}
.profile .box-1 .container-of-box-1 {
  display: flex;
  background-color: white;
  border-radius: 6px;
}
.profile .box-1 .container-of-box-1 .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-right: 1px solid #eee;
}
@media (max-width: 767px) {
  .profile .box-1 .container-of-box-1 {
    flex-direction: column;
  }
  .profile .box-1 .container-of-box-1 .intro {
    border: none;
    margin: 0;
  }
}
.profile .box-1 .container-of-box-1 .intro img {
  width: 125px;
  height: 125px;
}
.profile .box-1 .container-of-box-1 .intro h2 {
  font-weight: 600;
  margin: 10px;
}
.profile .box-1 .container-of-box-1 .intro span:first-of-type {
  color: var(--span-color);
  margin-bottom: 10px;
}
.profile .box-1 .container-of-box-1 .intro .progress {
  width: 150px;
  position: relative;
  height: 5px;
  background-color: #eee;
  border-radius: 25px;
  margin: 10px 0;
}
.profile .box-1 .container-of-box-1 .intro .progress span {
  position: absolute;
  height: 100%;
  background-color: var(--blue-color);
  border-radius: 25px;
}
.profile .box-1 .container-of-box-1 .intro .rate {
  margin: 10px 0;
}
.profile .box-1 .container-of-box-1 .intro .rate i {
  color: var(--orange-color);
}
.profile .box-1 .container-of-box-1 .intro span:last-of-type {
  color: var(--span-color);
  font-size: 14px;
}
.profile .box-1 .info {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.profile .box-1 .info > div {
  flex: 1;
  padding: 20px;
}
.profile .box-1 .info > div:not(:last-child) {
  border-bottom: 1px solid #f6f6f6;
}
.profile .box-1 .info > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  color: var(--span-color);
  transition: 0.3s;
}
.profile .box-1 .info > div:hover {
  background-color: #f6f6f6;
}
.profile .box-1 .info > div h4:first-child {
  order: 1;
  grid-column: span 3;
  font-weight: 500;
}
.profile .box-1 .info > div p:first-of-type {
  order: 4;
}
.profile .box-1 .info > div label {
  order: 7;
}
.profile .box-1 .info > div p:nth-of-type(2) {
  order: 5;
}
.profile .box-1 .info > div p {
  font-size: 14px;
}
.profile .box-1 .info > div p span {
  color: black;
  margin-left: 5px;
}
.profile .box-1 .info > div p:nth-of-type(3) {
  order: 6;
}
@media (max-width: 1283px) {
  .profile .box-1 .info > div {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .profile .box-1 .info > div h4:first-child {
    grid-column: span 2;
  }
  .profile .box-1 .info > div p:first-of-type {
    order: 3;
  }
  .profile .box-1 .info > div p:nth-of-type(3) {
    order: 5;
  }
  .profile .box-1 .info > div p:nth-of-type(2) {
    order: 4;
  }
  .profile .box-1 .info > div label {
    order: 6;
  }
}
@media (max-width: 1025px) {
  .profile .box-1 .info > div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .profile .box-1 .info > div h4:first-child {
    grid-column: span 1;
  }
  .profile .box-1 .info > div p:first-of-type {
    order: 2;
  }
  .profile .box-1 .info > div p:nth-of-type(2) {
    order: 3;
  }
  .profile .box-1 .info > div p:nth-of-type(3) {
    order: 4;
  }
  .profile .box-1 .info > div label {
    order: 5;
  }
}
@media (max-width: 767px) {
  .profile .box-1 .container-of-box-1 {
    flex-direction: column;
  }
}
.profile .box-2 p {
  margin: 15px 0 30px;
  color: var(--span-color);
  font-size: 16px;
}
.profile .box-2 .skills-row:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.profile .box-2 .skills-row {
  margin: 15px 0;
}
.profile .box-2 .skills-row span {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px 10px 0;
  border-radius: 6px;
  font-size: 14px;
  background-color: #eee;
}
.profile .box-3 p {
  color: var(--span-color);
  font-size: 16px;
  margin: 15px 0 25px;
  line-height: 1.5;
}
.profile .box-3 .info:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.profile .box-3 .info {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  margin-top: 15px;
}
.profile .box-3 .info img {
  width: 70px;
  height: 70px;
  margin-right: 15px;
}
.profile .box-3 .info .text {
  flex: 1;
}
.profile .box-3 .info .text span {
  display: block;
}
.profile .box-3 .info .text p {
  margin: 15px 0 0 0;
}
.profile .box-3 .info .time span {
  display: block;
  margin: 0 0 0 auto;
  width: fit-content;
}
.profile .box-3 .info .time span:last-of-type {
  margin: 15px 0 0 20px;
  color: var(--span-color);
  font-size: 15px;
}
@media (max-width: 767px) {
  .profile .box-3 .info {
    flex-direction: column;
    text-align: center;
  }
  .profile .box-3 .info img {
    margin: 0 0 15px 0;
  }
  .profile .box-3 .info .time span:first-child {
    margin: 15px auto;
  }
  .profile .box-3 .info .time span:last-child {
    margin: 0;
  }
}
.toggle input {
  appearance: none;
  -webkit-appearance: none;
  display: none;
}
.toggle .toggle-div {
  background-color: var(--blue-color);
  width: 80px;
  height: 20px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.toggle .toggle-div::before {
  content: '\f00c';
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  color: var(--blue-color);
  width: 12px;
  height: 12px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5px;
  top: 4px;
  border-radius: 50%;
  font-size: 8px;
  transition: 0.3s;
}
.profile .toggle input:checked + div {
  background-color: #ccc;
}
.profile .toggle input:checked + div::before {
  content: '\f00d';
  right: 63px;
  color: #aaa;
}
/* End Profile */

/* Start Projects */
.projects {
  flex: 1;
}
.projects .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  padding: 20px 0;
  margin: 0 20px;
  grid-gap: 20px;
}
@media (max-width: 767px) {
  .projects .content {
    grid-template-columns: minmax(200px, 1fr);
    grid-gap: 10px;
    padding: 10px;
    margin: 0 10px;
  }
  .projects .box .progress {
    display: flex;
    flex-direction: column;
  }
  .projects .box .progress .parent {
    margin-bottom: 25px;
    max-width: 100%;
  }
  .projects .box .links {
    flex-direction: column;
  }
  .projects .box .links span {
    display: block;
    margin-top: 10px;
    width: fit-content;
  }
}
.projects .box {
  padding: 20px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
.projects .box > span {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--span-color);
  font-size: 13px;
}
.projects .box .text h4 {
  font-weight: normal;
  margin-top: 15px;
}
.projects .box .text p {
  color: var(--span-color);
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.5;
}
.projects .box .avatars {
  margin: 50px 0 25px;
}
.projects .box .avatars a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
}
.projects .box .avatars a:not(:first-of-type) img {
  margin-left: -20px;
}
.box .avatars a img:hover {
  z-index: 100;
}
.projects .box .links {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
  margin: 15px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.projects .box .links span {
  margin-left: 10px;
  font-size: 13px;
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 6px;
}
.projects .box .progress {
  display: flex;
  justify-content: space-between;
  color: var(--span-color);
  font-size: 14px;
  align-items: center;
}
.projects .box .progress .parent {
  width: 225px;
  background-color: #eee;
  border-radius: 25px;
  height: 7px;
  position: relative;
}
.projects .box .progress .parent span {
  height: 100%;
  position: absolute;
  border-radius: 25px;
}
.projects .box .progress .parent .tomato {
  background-color: var(--tomato-color);
}
.projects .box .progress .parent .green {
  background-color: var(--green-color);
}
.projects .box .progress .parent .blue {
  background-color: var(--blue-color);
}
/* End Projects */

/* Start Courses */
.courses {
  flex: 1;
}
.courses .content {
  display: grid;
  padding: 20px 0;
  margin: 0 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}
@media (max-width: 767px) {
  .courses .content {
    display: grid;
    padding: 10px 0;
    margin: 0 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
  }
}
.courses .box {
  position: relative;
  border-radius: 6px;
  background-color: white;
  overflow: hidden;
  z-index: 2;
}
.courses .box img:first-of-type {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid white;
  top: 15px;
  left: 15px
}
.courses .box img:last-of-type {
  max-width: 100%;
}
.courses .box .text {
  padding: 20px;
}
.courses .box .text h3 {
  font-size: 17px;
}
.courses .box .text p {
  font-size: 14px;
  color: var(--span-color);
  margin: 15px 0 0 0;
  line-height: 1.5;
}
.courses .box a {
  display: block;
  width: fit-content;
  background-color: var(--blue-color);
  color: white;
  margin: 0 auto 10px;
  padding: 5px 10px;
  border-radius: 6px;
  position: relative;
  font-size: 14px;
  transition: 0.3s;
}
.courses .box a:hover {
  background-color: var(--blue-alt-color);
}
.courses .box a::before {
  content: '';
  width: 500%;
  height: 1px;
  background-color: #eee;
  position: absolute;
  left: -200px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.courses .box .foot {
  padding: 0 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  color: var(--span-color);
  font-size: 13px;
}
/* End Courses */

/* Start Friends */
.friends {
  flex: 1;
}
.friends .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px 0;
  margin: 0 20px;
}
@media (max-width: 767px) {
  .friends .content {
    grid-gap: 10px;
    padding: 10px 0;
    margin: 0 10px;
  }
}
.friends .box {
  padding: 20px;
  background-color: white;
  border-radius: 6px;
  position: relative;
}
.friends .box.vip::before {
  content: 'VIP';
  position: absolute;
  font-size: 40px;
  color: var(--orange-color);
  right: 20px;
  bottom: 100px;
  opacity: 0.3;
}
@media (max-width: 452px) {
  .friends .box.vip::before {
    bottom: 160px;
  }
}
.friends .box .contact {
  position: absolute;
  top: 10px;
  left: 10px;
}
.friends .box .contact i {
  background-color: #eee;
  width: 35px;
  height: 35px;
  font-size: 14px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #666;
  transition: 0.3s;
  cursor: pointer;
}
.friends .box .contact i:hover {
  background-color: var(--blue-color);
  color: white;
}
.friends .box .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0 50px 0;
}
.friends .box .intro img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.friends .box .intro p {
  margin: 10px 0 5px;
  font-weight: 600;
  font-size: 17px;
}
.friends .box .intro span {
  font-size: 13px;
  color: var(--span-color);
}
.friends .box .info {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
  margin: 10px 0;
}
.friends .box .info .part {
  margin-bottom: 10px;
}
.friends .box .info .part i {
  margin-right: 5px;
  font-size: 14px;
}
.friends .box .info .part span {
  font-size: 15px;
}
.friends .box .foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.friends .box .foot span {
  display: block;
  font-size: 13px;
  color: var(--span-color);
  text-align: center;
  margin-right: 10px;
}
.friends .box .foot a {
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
  display: block;
}
.friends .box .foot .links {
  display: flex;
}
.friends .box .foot a:first-of-type {
  background-color: var(--blue-color);
  margin-right: 5px;
}
.friends .box .foot a:last-child {
  background-color: var(--tomato-color);

}
@media (max-width: 450px) {
  .friends .box .foot {
    flex-direction: column;
  }
  .friends .box .foot a:first-of-type {
    margin: 15px auto 0;
  }
  .friends .box .foot a:last-child {
    margin: 10px auto 0;
  }
  .friends .box .foot .links {
    flex-direction: column;
  }
}
/* End Friends */

/* Start Files */
.files {
  flex: 1;
}
.files .content {
  display: flex;
  padding: 10px 0;
  margin: 0 20px;
  grid-gap: 20px;
}
.files .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  flex: 1;
}
.files .box {
  position: relative;
  padding: 10px;
  background-color: white;
  border-radius: 6px;
}
@media (max-width: 767px) {
  .files .content {
    flex-direction: column-reverse;
    padding: 10px 0;
    margin: 0 10px;
    grid-gap: 10px;
  }
  .files .boxes {
    grid-gap: 10px;
  }
}
.files .box i {
  position: absolute;
  top: 10px;
  left: 10px;
  color: gray;
}
.files .box .info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
}
.files .box .info img {
  width: 65px;
  height: 65px;
  transition: 0.3s;
}
.files .box:hover img {
  transform: rotate(5deg);
}
.files .box .info p {
  margin: 20px 0 10px;
  font-weight: 500;
  font-size: 14px;
}
.files .box span {
  color: var(--span-color);
  font-size: 13px;
  font-weight: 500;
}
.files .box .foot {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #eee;
}
.files .extra {
  min-width: 275px;
  height: fit-content;
  padding: 20px;
  background-color: white;
  border-radius: 6px;
}
.files .extra h2 {
  font-weight: 700;
}
.files .extra .info {
  display: flex;
  margin-top: 15px;
  border: 1px solid #eee;
  border-radius: 6px;
  font-size: 12px;
  align-items: center;
  padding: 10px;
}
.files .extra .info .icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.files .extra .pdf .icon {
  color: var(--blue-color);
  background-color: rgb(0 117 255 / 20%);
}
.files .extra .images .icon {
  color: var(--green-color);
  background-color: rgb(34 197 94 / 20%);
}
.files .extra .word .icon{
  color: var(--tomato-color);
  background-color: rgb(244 67 54 / 20%);;
}
.files .extra .csv .icon {
  color: var(--orange-color);
  background-color: rgb(245 158 11 / 20%);
}
.files .extra a {
  display: block;
  width: fit-content;
  padding: 10px 20px 10px 35px;
  color: white;
  background-color: var(--blue-color);
  border-radius: 6px;
  font-size: 13px;
  margin: 15px auto 0;
  transition: 0.3s;
  position: relative;
}
.files .extra a:hover {
  background-color: var(--blue-alt-color);
}
.files .extra a i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.files .extra a:hover i {
  animation: arrow-scroll 0.8s infinite;
}
.files .extra .info .text {
  flex: 1;
}
.files .extra .info .text p {
  margin-bottom: 5px;
}
.files .extra .info .text span {
  color: var(--span-color);
}
.files .extra .info > span {
  margin-right: 5px;
  color: var(--span-color);
}
/* End Files */

/* Start Plans */
.plans {
  flex: 1;
}
.plans .box {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}
.plans .content {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 20px;
  margin: 0 20px;
}
@media (max-width:767px) {
  .plans .content {
    grid-template-columns: minmax(200px, 1fr);
    padding: 10px 0;
    margin: 0 10px;
  }
}
.plans .box .intro {
  padding: 25px 0;
  text-align: center;
  border: 3px solid white;
  color: white;
  margin-bottom: 15px;
}
.plans .box-1 .intro {
  outline: 3px solid var(--green-color);
  background-color: var(--green-color);
}
.plans .box-2 .intro {
  outline: 3px solid var(--blue-color);
  background-color: var(--blue-color);
}
.plans .box-3 .intro {
  outline: 3px solid var(--orange-color);
  background-color: var(--orange-color);
}
.plans .box .intro p {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.plans .box .intro span {
  display: block;
  margin: 0 auto;
  width: fit-content;
  font-size: 40px;
  font-weight: 500;
  position: relative;
}
.plans .box .intro span::before {
  content: '$';
  position: absolute;
  left: -20px;
  top: -5px;
  font-size: 25px;
}
.plans .box .info ul li {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.plans .box .info ul li i:first-child {
  margin-right: 10px;
}
.plans .box .info ul li span {
  flex: 1;
}
.plans .box .info ul li i:last-child {
  color: #aaa;
}
.plans .box .info ul li .yes {
  color: var(--green-color);
}
.plans .box .info ul li .no {
  color: var(--tomato-color);
}
.plans .box .info a {
  padding: 5px 10px;
  color: white;
  border-radius: 6px;
  margin-top: 15px;
  display: block;
  width: fit-content;
}
.plans .box-1 .info a {
  background-color: var(--green-color);
}
.plans .box-2 .info a {
  background-color: var(--blue-color);
}
.plans .box-3 .info p {
  margin: 15px auto 0;
  width: fit-content;
  color: var(--span-color);
  font-weight: 500;
}
/*End Plans */

/* Start Animations */
@keyframes arrow-scroll {
  0%, 100% {
    top: 50%;
  }
  50% {
    top: calc(50% - 5px);
  }
}
/* End Animations */